<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-md-4 g-3 m-5" *ngIf="character!=null; else espera">
  <div class="card m-2" style="width: 18rem;">
    <h1 class="display-4">Details</h1>
    <img src="{{character.image}}" class="card-img-top" alt="...">
    <div class="card-body mb-3">
      <h5 class="card-title ms-2 mt-3 mb-3 ms-3"><b>Name: </b>{{character.name}}</h5>
      <p class="ms-3"><b>Status: </b> <em>{{character.status}}</em></p>
      <p class="ms-3"><b>Specie: </b> <em>{{character.species}}</em></p>
      <p class="ms-3"><b>Gender: </b> <em>{{character.gender}}</em></p>
      <p class="ms-3"><b>Origin: </b> <em>{{character.origin}}</em></p>
      <p class="ms-3"><b>Location: </b> <em>{{character.location}}</em></p>
    </div>
  </div>
</div>
<ng-template #espera>Cargando datos......</ng-template>
